%tr.build.alert{class: build_status_alert_class(build)}
  %td.status
    = build.status

  %td.build-link
    = link_to build_url(build) do
      %strong #{build.short_sha}

  %td.build-message
    %span= truncate(build.git_commit_message, length: 50)

  %td.build-branch
    %span
      = link_to (build.tag.blank? ? build.ref : build.tag), project_path(@project, ref: (build.tag.blank? ? build.ref : build.tag))

  %td.duration
    - if build.duration
      #{Time.at(build.duration).utc.strftime("%H:%M:%S")}

  %td.created_at
    %span #{build.created_at.localtime.strftime("%d.%m.%Y %H:%M:%S")}

  %td.timestamp
    - if build.finished_at
      %span #{build.finished_at.localtime.strftime("%d.%m.%Y %H:%M:%S")}
    - else
      %span.text-center{style: "width:100%"} -

:javascript
  window.setTimeout(function(){
    window.location.reload();
  }, 60000)