.row-fluid
  .col-md-12
    %h4.page-title
      = @project.name
      .pull-right
        = link_to edit_project_path(@project), class: "btn btn-default btn-small" do
          %i.icon-edit.icon-white
          Edit Project

    %p
      = link_to project_path(@project) do
        &larr; Back to project builds
    %hr

.row-fluid
  .col-md-12
    .build-head.alert{class: build_status_alert_class(@build)}
      %h4
        Build for commit
        %code #{@build.short_sha}
        from

        = link_to project_path(@build.project, ref: @build.ref) do
          %span.label.label-primary= "#{@build.ref}"

        - if @build.duration
          .pull-right
            %span
              %i.icon-time
              #{distance_of_time_in_words @build.duration}

      .clearfix
        = @build.status
        .pull-right
          = @build.updated_at.localtime.stamp('19:00 Aug 27')


.row-fluid
  .col-md-9
    .clearfix
      - if @build.active?
        .build-button-container.pull-right
          %button.btn.btn-default.btn-sm#autoscroll-button{:type => "button", :data => {:state => 'disabled'}} enable autoscroll
          %button.btn.btn-default.btn-sm#autoupdate-button{:type => "button", :data => {:state => 'enabled'}} disable autoupdate
        .clearfix
    %ul.nav.nav-tabs{role: "tablist"}
      %li.active
        %a{href: "#trace_tab",  role:"tab", data: {toggle: "tab"}} Build Log
      - unless @build.canceled?
        %li
          %a{href: "#reports_tab",  role:"tab", data: {toggle: "tab"}} Build Report
      - if @build.complete? && !@build.canceled?
        %li
          %a{href: "#coverage_tab",  role:"tab", data: {toggle: "tab"}} Build Coverage
    .tab-content
      .tab-pane.active#trace_tab
        %pre.trace#build-trace
          %code.bash
            = preserve do
              = raw @build.trace_html
      - unless @build.canceled?
        .tab-pane#reports_tab
          .clearfix
            .build-button-container.pull-right{style:"margin-top: 10px;"}
              %button.btn.btn-default.btn-sm#fails-button{:type => "button", :data => {:state => 'disabled'}} fails only
            .clearfix
          #build-report
            .results
              = raw @build.report_html
      - if @build.complete? && !@build.canceled?
        .tab-pane#coverage_tab
          %iframe#coverage_frame{frameborder: 0, style:"height:800px;width:100%;", src: "#{ENV['REPORTS_URL']}project-#{@project.id}/#{@build.ref}/#{@build.sha}/coverage/#{@build.id}"}

  .col-md-3
    .build-widget
      %h4.title
        Build
        .pull-right
          - if @build.active?
            = link_to "Cancel", cancel_project_build_path(@project, @build), class: 'btn btn-sm btn-danger'
          - else
            = link_to "Retry", retry_project_build_path(@project, @build), class: 'btn btn-sm btn-primary', method: :post

      - if @build.duration
        %p
          %span.attr-name Duration:
          #{distance_of_time_in_words @build.duration}
      %p
        %span.attr-name Created:
        #{time_ago_in_words(@build.created_at.localtime)} ago
      - if @build.finished_at
        %p
          %span.attr-name Finished:
          #{time_ago_in_words(@build.finished_at.localtime)} ago
      - if @build.complete? && !@build.canceled?
        %p
          %span.attr-name Summary:
          #{@build.report_json['summary_line']}
      %p
        %span.attr-name Runner:
        - if @build.runner
          \##{@build.runner.id}

    .build-widget
      %h4.title
        Commit
        .pull-right
          %small #{build_commit_link @build}

      - if @build.compare?
        %p
          %span.attr-name Compare:
          #{build_compare_link @build}
      %p
        %span.attr-name Branch:
        #{build_ref_link @build}
      %p
        %span.attr-name Author:
        #{@build.git_author_name}
      %p
        %span.attr-name Message:
        #{@build.git_commit_message}

    - if @builds.present?
      .build-widget
        %h4.title #{pluralize(@builds.count, "other build")} for #{@build.short_sha}:
        %table.builds
          - @builds.each_with_index do |build, i|
            %tr.build.alert{class: build_status_alert_class(build)}
              %td
                = link_to build_url(build) do
                  %span #{i+=1} &ndash; #{build.short_sha}
              %td.status= build.status


        = paginate @builds


:javascript
  new Build("#{build_url(@build)}", "#{@build.status}")