%p
  Build successful for
  = link_to project_url(@project) do
    = @project.name

%p
  Status: #{@build.status}
%p
  Branch: #{@build.ref}
%p
  Commit: #{link_to @build.short_sha, project_build_url(@build.project, @build)}
%p
  Author: #{@build.git_author_name}
- if  !@build.report_json.blank?
  %h2 Build Report:
  %p
    #{@build.report_json['summary_line']}
  - if !!@build.report_json['summary']
    %p
      Duration: #{@build.report_json['summary']['duration']}
